xmlspecs/gbi_schema_filter.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="scalasca.gbi"
           xmlns="scalasca.gbi.filter">


    <xs:element name="filters" type="filterContainerType" />

    

    <xs:complexType name="filter">
        <xs:sequence>
            <xs:element name="and" type="filter" />
            <xs:element name="or" type="filter" />
            <xs:element name="not" type="filter" />
            <xs:element name="true" />
            <xs:element name="false" />
            <xs:element name="property" type="filter" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filterElementType">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="instrument" type="xs:string" use="required" />
        <xs:attribute name="start" type="xs:string" use="required" />
        <xs:sequence>
            <xs:element name="include" type="filter" minOccurs="0" />
            <xs:element name="exclude" type="filter" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filterContainerType">
        <xs:sequence>
            <xs:element name="filter" type="filterElementType" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>